# Launch the loader
sudo docker run \
  -d \
  --name transformer_kinesis \
  --restart always \
  --network host \
  --memory=${container_memory} \
%{ if cloudwatch_logs_enabled ~}
  --log-driver awslogs \
  --log-opt awslogs-group=${cloudwatch_log_group_name} \
  --log-opt awslogs-stream=$(get_instance_id) \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env ACCEPT_LIMITED_USE_LICENSE=${accept_limited_use_license} \
  --env INSTANCE_ID=$(get_instance_id) \
  snowplow/transformer-kinesis:${version} \
  --config ${config_b64} \
  --iglu-config ${iglu_resolver_b64}

${telemetry_script}
