# Launch the loader
sudo docker run \
  -d \
  --name transformer_kinesis \
  --restart always \
  --network host \
  --memory=${container_memory} \
%{ if cloudwatch_logs_enabled ~}
  --log-driver awslogs \
  --log-opt awslogs-group=${cloudwatch_log_group_name} \
  --log-opt awslogs-stream=$(get_instance_id) \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  -e 'JAVA_OPTS=-Dconfig.override_with_env_vars=true ${java_opts}' \
  -e "CONFIG_FORCE_telemetry_instanceId=$(get_instance_id)" \
  snowplow/transformer-kinesis:${version} \
  --config ${config_b64} \
  --iglu-config ${iglu_resolver_b64}

${telemetry_script}
